<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536569478939-o2kigbe7kl6qd4kq75b0tc9v49n7kif9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536569478939-o2kigbe7kl6qd4kq75b0tc9v49n7kif9</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.purio</string>
	<key>GIDClientID</key>
	<string>536569478939-o2kigbe7kl6qd4kq75b0tc9v49n7kif9.apps.googleusercontent.com</string>
</dict>
</plist>